.voteComponent {
    position: relative;
}

.voteComponent .donutContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
}

.voteComponent .btn {
    position: absolute;
    top: 45px;
    width: 90px;

    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #e4e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 0%,#e4e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#e4e4e4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfcfc 0%,#e4e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */

    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.voteComponent .btn:hover {
    border-color: #999;
}

.voteComponent .btn .count {
    position: absolute;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 0 7px;
}

.voteComponent .btn.agree {
    left: 45px;
}

.voteComponent .btn.agree .count {
    right: 5px;
    background: #3A7D00;
}

.voteComponent .btn.disagree {
    right: 45px;
    text-align: right;
}

.voteComponent .btn.disagree .count {
    left: 5px;
    background: #0D3D00;
}
