.vote-component {
    height: 0;
    overflow: hidden;
}

.vote-component .vote-area {
    position: relative;
    height: 120px;
    margin-bottom: 20px;
}

.vote-component .donut-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
}

.vote-component .choice {
    position: absolute;
    top: 45px;
    width: 90px;
    padding: 3px 5px;
    border: 1px solid transparent;
}

.vote-component .btn {

    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #e4e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e4e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #e4e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 0%, #e4e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 0%, #e4e4e4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcfcfc 0%, #e4e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#e4e4e4', GradientType = 0); /* IE6-9 */

    border-radius: 3px;
    cursor: pointer;
    border-color: #ccc;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    min-height: 18px;

}

.vote-component .btn.disabled,
.vote-component .btn.disabled:hover {
    background: #ddd;
    border-color: #ddd;
    cursor: default;
}

.vote-component .btn:hover {
    border-color: #999;
}

.vote-component .choice .count {
    position: absolute;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 0 7px;
}

.vote-component .choice.agree {
    left: 45px;
}

.vote-component .choice.agree .count {
    right: 5px;
    background: #3A7D00;
}

.vote-component .btn.selected {
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}

.vote-component .btn.selected.agree,
.vote-component .btn.selected.agree:hover {
    background: #3A7D00;;
    border-color: #3A7D00;
    color: white;
    cursor: default;
}

.vote-component .choice.disagree {
    right: 45px;
    text-align: right;
}

.vote-component .btn.selected.disagree,
.vote-component .btn.selected.disagree:hover {
    background: #0D3D00;;
    border-color: #0D3D00;
    color: white;
    cursor: default;
}

/* Tick Marks */
.vote-component .tick {
    display: none;
}

.vote-component .agree .tick {
    margin-right: 3px;
}

.vote-component .disagree .tick {
    margin-left: 3px;
}

.vote-component .btn.selected .tick {
    display: inline;
}

.vote-component .choice.disagree .count {
    left: 5px;
    background: #0D3D00;
}

.vote-component .social-summary {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.vote-component .social-summary a {
    cursor: pointer;
}

.vote-component .social-summary .avatar {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.vote-component .social-summary .facebookIcon {
    float: right;
    width: 16px;
    height: 16px;
}

ul.article-attributes {
    clear: both;
}